@media (min-width: 1024px){
    .header {
        display: flex;
    }

    .title{
        font-size: 30px;
    }
}

@media (max-width: 1023px){
    .header {
        display: grid;
        grid-gap: 10px;
        place-self: center;
    }

    .title{
        font-size: 28px;
    }

    .wrapper {
        justify-content: center;
    }
}

.header {
    justify-content: space-between;
    margin-bottom: 30px;
  }

.wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    svg{
        width: 65px;
        height: 65px;
    }
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    color: #4793FF;
}

.change_theme {
    cursor: pointer;
}